.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f8fa;
  padding: 20px;
}

.login-card {
  display: flex;
  width: 900px;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.login-image-container {
  flex: 1;
  background-image: url(../../public/lixo2.jpeg);
  /* background-position: cent; */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
}
.login-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.login-form-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.login-header {
  margin-bottom: 30px;
  text-align: center;
}

.login-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #2e7d32;
  margin-bottom: 8px;
}

.login-subtitle {
  color: #757575;
  font-size: 16px;
  margin-top: 4px;
}

.logo-acc {
  height: 32px;
  margin-right: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password-container {
  position: relative;
}

.login-button {
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #1b5e20;
}

.login-button:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}

.login-forgot-link{
  margin-left: 3px;
  text-align: left;
  font-size: 14px;
  color: #757575;
}

.login-forgot-link a {
  color: #2e7d32;
  text-decoration: none;
  font-weight: 500;
}

.login-register-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #757575;
}

.login-register-link a {
  color: #2e7d32;
  text-decoration: none;
  font-weight: 500;
}

.login-register-link a:hover {
  text-decoration: underline;
}

.error-message {
  background-color: #ffebee;
  color: #c62828;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
  .login-image-container {
    display: none;
  }

  .login-card {
    flex-direction: column;
    max-width: 400px;
  }

  .login-image-container {
    padding: 30px;
    max-height: 200px;
  }

  .login-form-section {
    padding: 30px 20px;
  }
}