  /* Container Principal */
  .login-container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header */
  .login-header {
    background-color: var(--primary-color);
    padding: 24px;
    margin-bottom: 32px;
    width: 100%;
    text-align: center;
    border-radius: 0 0 24px 24px;
    z-index: 1;

  }
  
  .login-header h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Container do Formulário */
  .form-container-login {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 32px;
    background-color: white;
    border-radius: 0 0 16px 16px;
    z-index: 1;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  /* Links */
  .forgot-password {
    text-align: left;
  }
  
  .forgot-password a, 
  .create-account-login a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.875rem;
  }
  
  .forgot-password a:hover, 
  .create-account-login a:hover {
    text-decoration: underline;
  }
  
  /* Botão de Login */
  .login-button {
    width: 100%;
    padding: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: var(--tertiary-color);
  }
  
  /* Container do Wave */
  .wave-container-login {
    margin-top: auto;
    width: 100%;
    z-index: 0;
  }
  
  .wave-login {
    max-height: 250px;
    width: 100%;
  }
  
  /* Responsividade */
  @media (min-width: 768px) {
    .login-container {
      justify-content: center;
      padding-top: 6.5rem;
      /* background: linear-gradient(135deg, var(--primary-color) 0%, var(--tertiary-color) 100%); */
      min-height: 100vh;
    }
  
    .login-header {
      max-width: 600px;
      margin-bottom: 0;
      border-radius: 24px 24px 0 0;
    }
  
    .form-container-login {
      max-width: 600px;
      padding: 48px;
      background: white;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }
  
    .login-button {
      padding: 20px;
      font-size: 1.1rem;
    }
  
    .forgot-password a, 
    .create-account-login a {
      font-size: 1rem;
    }
  
    .wave-login {
      position: fixed;
      bottom: 0;
      max-height: 100px;
      width: 100%;
    }
  }
  
  @media (min-width: 1200px) {
    .login-header,
    .form-container-login {
      max-width: 800px;
    }
  
    .login-header h1 {
      font-size: 3rem;
    }
  }