.profile-form {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,30%);
}

.info-section {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.section-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000000;
}

.save,.logout, .delete-account {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.save-button{
    width: 100%;
    max-width: 200px;
    background-color: #4caf50;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    margin-top: 2rem;
}

.input-field:focus{
    border-color: var(--ion-primary-color);
}
