  .store-content {
    padding: 20px;
  }
  
  .products-name {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .points-section {
    margin-bottom: 30px;
  }
  
  .points-section h3 {
    font-size: 16px;
    color: var(--ion-color-dark);
    margin-bottom: 15px;
  }
  
  .products-swiper {
    width: 100%;
  }
  
