@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --ion-primary-color:#174204 ;
  --ion-secondary-color: #86C26D;
  --ion-tertiary-color:#326D19 ;
  --ion-danger-color:#9A1200 ; 
  --ion-success-color:#118B01 ;
  --ion-light-color:#F1F1F1 ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-label {
  color: #333;
  font-size: 0.875rem;
}

.input-field {
  width: 100%;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--light-color);
  font-size: 1rem;
}

.input-field:focus {
  outline: none;
  border-color: var(--tertiary-color);
  box-shadow: 0 0 0 2px rgba(50, 109, 25, 0.2);
}

@media (min-width: 768px) {
  .input-field {
    padding: 20px;
    font-size: 1.1rem;
  }
}

.store-header {
  border-radius: 0 0 30px 30px;
}

.store-header ion-toolbar {
  --background: transparent;
  --border-style: none;
  padding: 10px;
}

.custom-title {
  color: white;
  margin: 1.5rem 0 0.8rem 0;
}

.points-display {
  padding: 10px 15px;
}

.points-display ion-label {
  display: block;
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

.points-display h2 {
  color: white;
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}

  /* Ajustes para o IonHeader */
  ion-header.header-collapse-condense ion-toolbar {
    --background: var(--ion-primary-color);
  }
  
  /* Remove bordas padrão do IonCard */
  ion-card {
    margin: 0;
    box-shadow: none;
  }