@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --ion-primary-color:#174204;
  --ion-secondary-color: #86C26D;
  --ion-tertiary-color:#326D19;
  --ion-danger-color:#9A1200; 
  --ion-success-color:#118B01;
  --ion-background-color-rgb: 245, 249, 241;
}

/* Estilo global para páginas */
ion-content {
  --background: #f2f2f2;
  z-index: -1;
}

* {
  margin-top: -1px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.active-tab {
  color: var(--ion-primary-color); 
}

.active-tab ion-icon {
  color: var(--ion-primary-color);
}

.active-tab ion-label {
  color: var(--ion-primary-color);
}

ion-tab-button {
  color: #666; 
}

ion-tab-bar{
  --background: #fbfbfb;
  margin: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-label {
  color: #333;
  font-size: 0.875rem;
}

.input-field {
  width: 100%;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
}

.input-field:focus {
  outline: none;
  border-color: var(--tertiary-color);
  box-shadow: 0 0 0 2px rgba(50, 109, 25, 0.2);
}

@media (min-width: 768px) {
  .input-field {
    padding: 20px;
    font-size: 1.1rem;
  }
}

.store-header ion-toolbar {
  --background: transparent;
  --border-style: none;
  padding: 10px 0 10px 0;
}

.custom-title {
  color: var(--ion-primary-color);
  margin: 1.5rem 0 0.8rem 1.1rem;
  font-size: 30px;
  font-weight: 800;
}

.custom-saldo{
  margin-left: 2px;
}

.points-display {
  margin-left: 1.1rem;
  border-radius: 8px;
}

.points-display ion-label {
  display: block;
  color: var(--ion-primary-color);
  font-size: 16px;
  margin-bottom: 5px;
}

.points-display h3 {
  color: var(--ion-primary-color);
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}

/* Ajustes para o IonHeader */
ion-header.header-collapse-condense ion-toolbar {
  --background: rgba(200, 255, 145, 0.4);
}

ion-card {
  margin: 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--ion-primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

